@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	display : flex;
	flex-direction: column;
	place-items: center;
	height: 100vh;
	display: grid;
	font-family: 'Roboto', sans-serif;
	background: #00BCD4;
	color: black;
	font-size: 14px;
	letter-spacing: 0.1em;
}

form {
	display : flex;
	flex-direction: column;
	place-items: center;
	width: 50vw;
	height: 50vh;
	margin : 5px;
	padding : 20px;
	background-color : white;
	box-shadow: 0 10px 18px rgb(0 0 0 / 0.2);
}

h2 {
	padding-top : 30px;
	padding-bottom : 10px;
}

hr.solid {
	width : 410px;
  	border-top: 1px solid rgb(220,220,220);
  	margin-bottom : 60px;
}

.input-field {
	width: 90%;
	
}